---
layout: default
title: data science lab / team
categories:
 - team
---

{% assign current_members = site.categories.team | where_exp: "member", "member.alumni != true" %}
{% assign grouped_roles = "professor|Professors,phd|PhD Students,master|Master Students,undergrad|Undergraduate Students" | split: "," %}
{% assign processed_ids = "" | split: "" %}

{% for group_entry in grouped_roles %}
	{% assign parts = group_entry | split: "|" %}
	{% assign key = parts[0] %}
	{% assign label = parts[1] %}
	{% assign role_members = "" | split: "" %}
	{% for member in current_members %}
		{% assign normalized = member.position | downcase %}
		{% assign include_member = false %}
		{% if key == 'professor' %}
			{% if normalized contains 'professor' %}
				{% assign include_member = true %}
			{% elsif normalized contains 'co-principal' %}
				{% assign include_member = true %}
			{% endif %}
		{% elsif key == 'phd' %}
			{% if normalized contains 'phd' %}
				{% assign include_member = true %}
			{% endif %}
		{% elsif key == 'master' %}
			{% if normalized contains 'master' %}
				{% assign include_member = true %}
			{% endif %}
		{% elsif key == 'undergrad' %}
			{% if normalized contains 'undergraduate' %}
				{% assign include_member = true %}
			{% elsif normalized contains 'intern' %}
				{% assign include_member = true %}
			{% endif %}
		{% endif %}
		{% if include_member %}
			{% assign role_members = role_members | push: member %}
		{% endif %}
	{% endfor %}
	{% if role_members.size > 0 %}
<div class="row">
	<div class="col-lg-12">
		<div class="title">
			{{ label }}
		</div>
	</div>
</div>

<div class="bigspacer"></div>

	{% assign role_members = role_members | sort: "date" %}
	{% for member in role_members %}
		{% unless processed_ids contains member.url %}
			{% assign processed_ids = processed_ids | push: member.url %}
		{% endunless %}
		{% assign mod = forloop.index0 | modulo: 3 %}
		{% if mod == 0 %}
<div class="row">
		{% endif %}
		<div class="col-lg-4 memberbox">
			<div class="media">
				{% if member.image %}
					<a class="float-left" href="{{ member.url }}">
						<img class="mr-3 profile-img" src="{{ member.image }}" alt="{{ member.title }}">
					</a>
				{% endif %}
 			 	<div class="media-body">
    				<div class="head mb-1"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
    				<p class="note">{{ member.position }}</p>
  				</div>
			</div>
			<div class="bigspacer"></div>
			<div class="bigspacer"></div>
        </div>
		{% if mod == 2 or forloop.last %}
</div>
		{% endif %}
	{% endfor %}
	{% endif %}
{% endfor %}

{% assign remaining_members = "" | split: "" %}
{% for member in current_members %}
	{% unless processed_ids contains member.url %}
		{% assign remaining_members = remaining_members | push: member %}
	{% endunless %}
{% endfor %}

{% if remaining_members.size > 0 %}
<div class="row">
	<div class="col-lg-12">
		<div class="title">
			Other Members
		</div>
	</div>
</div>

<div class="bigspacer"></div>

{% assign remaining_members = remaining_members | sort: "date" %}
{% for member in remaining_members %}
	{% assign mod = forloop.index0 | modulo: 3 %}
	{% if mod == 0 %}
<div class="row">
	{% endif %}
	<div class="col-lg-4 memberbox">
		<div class="media">
			{% if member.image %}
				<a class="float-left" href="{{ member.url }}">
					<img class="mr-3 profile-img" src="{{ member.image }}" alt="{{ member.title }}">
				</a>
			{% endif %}
 		 	<div class="media-body">
    			<div class="head mb-1"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
    			<p class="note">{{ member.position }}</p>
  			</div>
		</div>
		<div class="bigspacer"></div>
		<div class="bigspacer"></div>
    </div>
	{% if mod == 2 or forloop.last %}
</div>
	{% endif %}
{% endfor %}
{% endif %}

<div class="row">
	<div class="col-lg-12">
		<div class="title">
			Past members
		</div>
	</div>
</div>

<div class="bigspacer"></div>

{% assign alumni_members = site.categories.team | where: "alumni", true | sort: "date" %}
{% for member in alumni_members %}
    {% assign mod = forloop.index0 | modulo: 3 %}
    {% if mod == 0 %}
<div class="row">
    {% endif %}
		<div class="col-lg-4 memberbox">
			<div class="media">
				{% if member.image %}
					<a class="float-left" href="{{ member.url }}">
						<img class="mr-3 profile-img" src="{{ member.image }}" alt="{{ member.title }}">
					</a>
				{% endif %}
 			 	<div class="media-body">
    				<div class="head media-heading"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
    				<p class="note">{{ member.position }}</p>
 				</div>
			</div>
			<div class="bigspacer"></div>
        </div>
    {% if mod == 2 or forloop.last %}
</div>
    {% endif %}
{% endfor %}
