---
layout: default
---

{% assign member = page %}

<div class="row">
	<div class="col-lg-12">
		{% if member.image %}
		<img class="pull-left pad-right media-object d-none d-sm-block profile-img" src="{{ member.image }}" alt="{{ member.title }}">
		{% endif %}
		<div class="titlebox">
			<div class="bigtitle">
				{{ member.title }}
			</div>
			<p>
			<div class="smallhead">
				{{ member.kname }}
			</div>
			<p>
			<div class="smallhead">
				{{ member.position }}
			</div>
		</div>
	</div>
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-lg-3">
		{% if member.cv %}
		<div class="smallhead">
			CV
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-file-text-o fa-fw"></i>
			<a class="off" href="{{ member.cv | split: ', ' | first }}">{{ member.cv | split: ', ' | last }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		{% if member.linkedin %}
		<div class="smallhead">
			LinkedIn
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-brands fa-linkedin"></i>
			<a class="off" href="https://www.linkedin.com/in/{{ member.linkedin }}">{{ member.linkedin }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		{% if member.twitter %}
		<div class="smallhead">
			Twitter
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-twitter fa-fw"></i>
			<a class="off" href="https://twitter.com/{{ member.twitter }}">{{ member.twitter }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		{% if member.github %}
		<div class="smallhead">
			GitHub
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-github-alt fa-fw"></i>
			<a class="off" href="https://github.com/{{ member.github }}">{{ member.github }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		{% if member.scholar %}
		<div class="smallhead">
			Google Scholar
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-book fa-fw"></i>
			<a class="off" href="http://scholar.google.com/citations?user={{ member.scholar }}">{{ member.title }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		{% if member.calendar %}
		<div class="smallhead">
			Calendar
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-calendar fa-fw"></i>
			<a class="off" href="{{ member.calendar }}">{{ member.title }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		{% if member.website %}
		<div class="smallhead">
			Website
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-globe fa-fw"></i>
			<a class="off" href="{{ member.website }}">{{ member.website | remove: 'http://' | remove: 'https://' | replace: "/", "/<wbr>" | replace: "_", "_<wbr>" }}</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
		{% if member.email %}
		{% assign emailarray = member.email | split: '@' %}
		<div class="smallhead">
			Email
		</div>
		<div class="pad-left note">
			<div class="smallspacer"></div>
			<i class="fa fa-inbox fa-fw"></i>
			<a class="off breakable" href="mailto:{{ emailarray.first }}@{{ emailarray.last }}">
				{{ emailarray.first }}<span style="display:none">obfuscate</span>@{{ emailarray.last }}
			</a>
		</div>
		<div class="bigspacer"></div>
		{% endif %}
	</div>
	<div class="col-lg-8">
		<div class="post">
			{{ content }}
		</div>

		{% assign lastname = member.title | split: ' ' | last %}
		{% assign firstinitial = member.title | split: ' ' | first | slice: 0 %}
		{% assign searchstring = lastname | append: ' ' | append: firstinitial %}
		{% assign searchkname = member.kname %}

		{% assign member_papers = site.categories.papers | where_exp: "paper", "paper.kauthors contains searchkname" %}
		{% if member_papers and member_papers != empty %}
		<div class="bigspacer"></div>
		<div class="head">Papers</div>
		<div class="spacer"></div>
		{% assign categories = "intjour|International Journals,intconf|International Conferences,domjour|Domestic Journals,domconf|Domestic Conferences" | split: "," %}
		{% assign rendered_count = 0 %}
		{% for entry in categories %}
			{% assign parts = entry | split: "|" %}
			{% assign cat_key = parts[0] %}
			{% assign cat_label = parts[1] %}
			{% assign cat_papers = member_papers | where: "ptype", cat_key | sort: "year" | reverse %}
			{% if cat_papers and cat_papers != empty %}
			{% if rendered_count > 0 %}
			<div class="spacer"></div>
			{% endif %}
			<div class="smallhead">{{ cat_label }}</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<ul class="list-unstyled paper-list">
				{% for paper in cat_papers %}
					{% assign venue = paper.journal | default: paper.ref %}
					{% assign doi_url = nil %}
					{% if paper.doi %}
						{% if paper.doi contains "http" %}
							{% assign doi_url = paper.doi %}
						{% else %}
							{% assign doi_url = "https://doi.org/" | append: paper.doi %}
						{% endif %}
					{% endif %}
					<li class="paper-item">
						<a class="off" href="{{ paper.url }}"><strong>{{ paper.title }}</strong></a><br>
						<span class="note">Authors: {{ paper.authors }}</span><br>
						{% if venue %}<span class="note">Venue: {{ venue }}</span><br>{% endif %}
						<span class="note">Year: {{ paper.year }}{% if doi_url %} · <a class="off" href="{{ doi_url }}" target="_blank" rel="noopener">[Link]</a>{% endif %}</span>
					</li>
				{% endfor %}
				</ul>
			</div>
			{% assign rendered_count = rendered_count | plus: 1 %}
			{% endif %}
		{% endfor %}
		{% assign other_papers = "" | split: "" %}
		{% for paper in member_papers %}
			{% assign ptype = paper.ptype | default: "" %}
			{% unless ptype == 'intjour' or ptype == 'intconf' or ptype == 'domjour' or ptype == 'domconf' %}
				{% assign other_papers = other_papers | push: paper %}
			{% endunless %}
		{% endfor %}
		{% assign other_papers = other_papers | sort: "year" | reverse %}
		{% if other_papers and other_papers != empty %}
			<div class="spacer"></div>
			<div class="smallhead">Other Publications</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<ul class="list-unstyled paper-list">
				{% for paper in other_papers %}
					{% assign venue = paper.journal | default: paper.ref %}
					{% assign doi_url = nil %}
					{% if paper.doi %}
						{% if paper.doi contains "http" %}
							{% assign doi_url = paper.doi %}
						{% else %}
							{% assign doi_url = "https://doi.org/" | append: paper.doi %}
						{% endif %}
					{% endif %}
					<li class="paper-item">
						<a class="off" href="{{ paper.url }}"><strong>{{ paper.title }}</strong></a><br>
						<span class="note">Authors: {{ paper.authors }}</span><br>
						{% if venue %}<span class="note">Venue: {{ venue }}</span><br>{% endif %}
						<span class="note">Year: {{ paper.year }}{% if doi_url %} · <a class="off" href="{{ doi_url }}" target="_blank" rel="noopener">[Link]</a>{% endif %}</span>
					</li>
				{% endfor %}
				</ul>
			</div>
		{% endif %}
	  {% endif %}
	  

		{% for project in site.data.projects %}
			{% for contributor in project.contributors %}
				{% if contributor.login == member.github %}
					{% assign projectsq = true %}
				{% endif %}
			{% endfor %}
		{% endfor %}

		{% if projectsq == true %}
		<div class="bigspacer"></div>
		<div class="head">Projects</div>
		<div class="spacer"></div>
		{% for project in site.data.projects %}
			{% assign present = false %}
			{% for contributor in project.contributors %}
				{% if contributor.login == member.github %}
					{% assign present = true %}
				{% endif %}
			{% endfor %}
			{% if present == true %}
				<p><a href="{{ project.url }}" class="off">{{ project.title }} - {{ project.description }}</a>
			{% endif %}
		{% endfor %}
		{% endif %}

		{% for post in site.categories.blog %}
			{% if post.author %}
				{% if member.title == post.author %}
					{% assign postsq = true %}
				{% endif %}
			{% endif %}
			{% if post.authors %}
				{% for author in post.authors %}
					{% if member.title == author %}
						{% assign postsq = true %}
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endfor %}

		{% if postsq == true %}
			<div class="bigspacer"></div>
			<div class="head">Posts</div>
			<div class="spacer"></div>
			{% for post in site.categories.blog %}
				{% if post.author %}
					{% if member.title == post.author %}
						<p><a href="{{ post.url }}" class="off">{{ post.title }}</a>
					{% endif %}
				{% endif %}
				{% if post.authors %}
					{% assign found = false %}
					{% for author in post.authors %}
						{% if member.title == author %}
							{% assign found = true %}
						{% endif %}
					{% endfor %}
					{% if found %}
						<p><a href="{{ post.url }}" class="off">{{ post.title }}</a>
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endif %}

	</div>
	<div class="col-lg-1"></div>
</div>

